@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "If you have any questions or suggestions, please feel free to contact us.";
}
<link rel="stylesheet" href="~/Content/styles.css">
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Hebei XX University<br />
        Tianjin City<br />
        <abbr title="Phone">P:</abbr>
        13832932790
    </address>

    <address>
        <strong>Technical Support:</strong> <a href="mailto:techsupport@school.com">3468446130@qq.com</a><br />
        <strong>Administrator:</strong> <a href="mailto:admin@school.com">Zane@school.com</a>
    </address>
</main>